@import url("./reset.css");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);

  --bg-neutral: var(--color-white);
  --text-color-neutral: var(--color-grayish-purple);

  --text-xl: 2rem;
  --text-lg: 1.5rem;
  --text-base: 1rem;

  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --border-radius-md: 12px;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 400 700;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: var(--text-color-neutral);
}

.main {
  min-height: 90svh;
  min-height: 90vh;

  display: grid;
  grid-template-rows: 20vh 1fr;
  padding: 2rem;

  background: no-repeat url("/assets/images/background-pattern-mobile.svg");
  background-size: 100%;
}

.center {
  display: grid;
  justify-items: center;
}

.faqs {
  grid-row: 1/-1;
  padding: 1rem;
  border-radius: var(--border-radius-md);
}

@media (min-width: 700px) {
  .main {
    background: repeat-x url("/assets/images/background-pattern-desktop.svg");
  }
}
